* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

:root {
    --header-color: rgb(5, 1, 74);
    --body-bg: rgb(230, 230, 230);
    font-family: "PT Sans", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg);
}

header {
    padding: 20px;
    box-shadow: 0 3px 5px rgb(150, 150, 150);
    background-color: var(--header-color);
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 800;
    color: white;
}

#logo > img {
    width: 50px;
}

main {
    flex: 1;
}